body {
  background-color: #EAEAEA !important;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=checkbox] {
  -ms-transform: scale(1.5);
  transform: scale(1.5);
  -moz-transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -o-transform: scale(1.5);
  padding: 5px;

}


.wrapper {
  display: flex;
  background: #fff;

  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px;
  padding: 10px 0px;
  margin-bottom: 10px;
  background: transparent;

}

.wrapper .option {
  background: #fff;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 10px;
  border-radius: 5px;
  cursor: pointer;
  padding: 10px 10px;
  border: 2px solid lightgrey;
  transition: all 0.3s ease;
}


input[type="radio"] {
  display: none;
}

#option-1:checked:checked~.option-1,
#option-2:checked:checked~.option-2 {
  border-color: #0069d9;
}


.wrapper .option span {
  font-size: 20px;
  color: #808080;
}

#option-1:checked:checked~.option-1 span,
#option-2:checked:checked~.option-2 span {
  color: #0069d9;
}